.dot::before {
    display: flex;
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: blue;
  }

  .noDot{
    display: flex;

  }